{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:recommended"
  ],
  "enabledManagers": [
    "composer",
    "github-actions"
  ],
  "packageRules": [
    {
      "matchManagers": [
        "composer"
      ],
      "groupName": "composer dependencies"
    },
    {
      "matchManagers": [
        "github-actions"
      ],
      "groupName": "github actions"
    }
  ]
}
